<table>
  <tbody>
  {{#each this}}
    <tr>
      <td>
        {{{originalOembed.html}}}
      </td>
      <td>
        {{#if inspirationOembed.html}}
          {{{inspirationOembed.html}}}
        {{else}}
        Know what inspired this tweet? 
        Copy this line:
        <input value="&quot;{{unbound originalOembed.url}}&quot;: &quot;ENTER_TWEET_URL_HERE&quot;"></input>
        And add a new <a href="https://github.com/johnkpaul/horsejstracker.com/edit/master/server/lib/mapping.js">mapping</a><br>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
